.game {
  height: 600px;
  width: 100%;
  background-color: #CCCCCC;
  padding: 0px;
  margin: 0px;
  background: url("/app/game/background1-01.png") no-repeat center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 1.5em;
  padding: 15px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

button {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}
