.game {
  height: 800px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background: url("/app/game/background1-01.png") no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 1.5em;
  padding: 10px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

input[type="button"] {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: left;
  text-decoration: none;
  font-size: 1em;
}
