.game {
  height: 100vh;
  width: 100%;
  background-color: #CCCCCC;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background: url("images/background1-01.png") no-repeat center top;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 1.5em;
  max-width: 1000px;
  padding: 10px 50px;
  text-align: center;
  word-wrap: break-word;
}

.option {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  width: fill;
}

input[type="button"] {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}
